

table{
    border: 2px solid black;
    border-collapse: collapse;
    width: 100%;
}
td,th{
    border: 2px solid black;
}
td{
    text-align: center;
}
caption{
    background-color: blue;
    color: white;
    font-size: 1rem;
}


